@model BookStoreApp.Models.BookCategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_BookCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_BookCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_BookCategory }) |
    @Html.ActionLink("Back to List", "Index")
</p>
